<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
    <h1>插值语法实现</h1>
    <div id="app1">
        姓<input type="text" v-model="firstName">
        <br>
        名<input type="text" v-model="lastName">
        <br>
        姓名:<span>{{firstName.slice(0,3)}}-{{lastName}}</span>
    </div>
    <h1>methods实现</h1>
    <!-- 
        只要data中的数据发生改变，那么Vue一定会重新解析模板
        本例中只要data发生改变，fullName就会被调用
     -->
    <div id="app2">
        姓<input type="text" v-model="firstName">
        <br>
        名<input type="text" v-model="lastName">
        <br>
        姓名:<span>{{fullName()}}</span>
    </div>


    <script>
        var vm = new Vue({
            el: '#app1',
            data: {
                firstName: 'wang',
                lastName: 'mazi'
            },
            methods: {}
        })
    </script>
    <script>
        var vm = new Vue({
            el: '#app2',
            data: {
                firstName: 'sun',
                lastName: 'wukong'
            },
            methods: {
                fullName() {
                    console.log('方法被调用');
                    return `${this.firstName}-${this.lastName}`
                }
            }
        })
    </script>

</body>

</html>