<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 
        computed和watch之间的区别：
            computed能完成的功能，watch都可以完成
            watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作
        两个重要的小原则：
            1. 所有被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象
            2. 所有不被Vue所管理的函数(定时器的回调函数，ajax的回调函数，Promise的回调函数等)，最好写成箭头函数，
                这样this的指向才是vm或组件实例对象(箭头函数没有this，需要向上找，这样就会找到vm或组件实例对象了，如果写普通函数，则它的this就是window了)
     -->
</head>

<body>

    <div id="app">
        姓<input type="text" v-model="firstName">
        <br>
        名<input type="text" v-model="lastName">
        <br>
        姓名:<span>{{fullName}}</span>
        <br>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                firstName: 'sun',
                lastName: 'wukong',
                fullName: 'sun-wukong'
            },
            watch: {
                firstName(val) {
                    //watch可以开启异步任务，一秒钟后更改全名         
                    setTimeout(() => {
                        this.fullName = val + '-' + this.lastName;
                    }, 1000)
                },
                lastName(val) {
                    this.fullName = this.firstName + '-' + val;
                }
            }
        }
        )
    </script>

</body>

</html>