<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 
        v-for指令
            用于展示列表数据
            语法：v-for="(item,index) in xxx" :key="yyy"
            可遍历：数组、对象、字符串(很少)、指定次数(很少)
     -->
</head>

<body>
    <div id="app">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <li v-for="p in persons" :key="p.id">{{p.name}}--{{p.age}}</li>
        </ul>
        <ul>
            <li v-for="(p,index) in persons" :key="index">{{index}}--{{p.name}}--{{p.age}}</li>
        </ul>
        <!-- 遍历对象 -->
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(value,key) in car" :key="key">{{key}}--{{value}}</li>
        </ul>
        <!-- 遍历字符串 -->
        <h2>字符串</h2>
        <ul>
            <li v-for="(c,k) in str" :key="k">{{c}}--{{k}}</li>
        </ul>
        <hr>
        <!-- 遍历指定次数 -->
        <ul>
            <li v-for="(a,b) in 5">{{a}}--{{b}}</li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                persons: [
                    { id: '001', name: '张三', age: 18 },
                    { id: '002', name: '李四', age: 19 },
                    { id: '003', name: '王五', age: 20 }
                ],
                car: {
                    name: '奥迪A8',
                    price: '70W',
                    color: 'black'
                },
                str: 'test'
            },
            methods: {}
        })
    </script>

</body>

</html>